{% trans_default_domain 'FOSUserBundle' %}

<link rel="stylesheet" href="{{ asset('assets/style/LoginPage/loginpage_content.css') }}" />

<form id="LoginFormID" action="{{ path("fos_user_security_check") }}" method="post" style="margin-left: 10%; margin-right: 10%;">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <div id="FormTitle">
                <img class="website-icon" src="{{ asset('assets/images/Icon.png') }}">
                <h2>Prijava</h2>
            </div>
            <div id="FromStyleID" class="row">
                <div class="col s1"></div>
                <div class="col s10">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                            <label for="username">{{ 'security.login.username'|trans }}</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                        </div>
                        <div class="col s12" style="padding-top: 2vh;">
                            <div class="input-field col s6">
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" />
                                    <span>{{ 'security.login.remember_me'|trans }}</span>
                                </label>
                            </div>
                            <div id="SubmitButtonParent" class="input-field col s6">
                                <button class="waves-effect waves-light btn" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s1"></div>
            </div>
            {% if error %}
                <div id="ErrorMessageID">
                    <h6>{{ error.messageKey|trans(error.messageData, 'security') }}</h6>
                </div>
            {% endif %}
        </div>
        <div class="col s4"></div>
    </div>
</form>

<script src="{{ asset('assets/script/LoginPage/loginpage.js') }}"></script>
